.calculator-page{
    padding-bottom: 250px;
    background: url("../images/calculator-bg.jpg") no-repeat;
    background-size: cover;
}

.calculator-page  .main-page__form-view {
    padding: 109px 0 0 58px;
}

.calculator-page .main-page__form-view-head {
    padding: 0 0 30px 0;
}

.calculator-page .main-page__form-view-text {
    padding: 0 0 15px 5px;
}

.calculator-page__dynamic-input-panel{
    font-size: 18px;
    color: #fff;
    padding: 66px 0 0 63px;
    display: flex;
}

.calculator-page__dynamic-select-currency,
.calculator-page__dynamic-input-amount{
    font-family: 'GothaProLig';
    background: linear-gradient(to right, #fda56a, #fd7f74);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(253,165,106,0.8);
    margin-left: 19px;
    padding: 0 0 0 8px;
    height: 32px;
}

.calculator-page__dynamic-label-currency{
    font-family: 'GothaProMed';
}

.calculator-page__dynamic-select-currency{

}

.calculator-page__dynamic-label-amount{
    font-family: 'GothaProMed';
    margin-left: 78px;
}

.calculator-page__dynamic-input-amount{
    width: 100px;
}

.calculator-page__dynamic-input-amount::-webkit-outer-spin-button,
.calculator-page__dynamic-input-amount::-webkit-inner-spin-button,
.calculator-page__dynamic-input-amount[type="number"]::-webkit-outer-spin-button,
.calculator-page__dynamic-input-amount[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.calculator-page__dynamic-input-amount::placeholder{
    color: #fff;
}

.calculator-page__view-panel-info{
    margin-top: 47px;
    padding-left: 57px;
}

.calculator-page__view-info-item{
    width: 194px;
    height: 194px;
    padding: 72px;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}

.calculator-page__view-info-item-animation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-page__view-item-1{}

.calculator-page__view-item-2{
    position: relative;
    top: 10px;
}

.calculator-page__view-item-3{
    position: relative;
    top: 8px;
}

.calculator-page__view-item-4{
    position: relative;
    top: 7px;
}

.calculator-page__circle-outside{
    position: absolute;
    width: 194px;
    height: 194px;
    animation-duration: 4s;
    animation-name: lightning-turn-outside;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-timing-function: linear;
}

@keyframes lightning-turn-outside {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.calculator-page__circle-inside{
    position: absolute;
    animation-duration: 4s;
    animation-name: lightning-turn-inside;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-timing-function: linear;

}

@keyframes lightning-turn-inside {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

.calculator-page__item-img{
    width: auto;
    height: auto;
}

.calculator-page__view-info-item-description{
    color: #f7a66a;
    font-size: 18px;
    padding-top: 90px;
}

.calculator-page__item-description-title{
    font-family: 'GothaProBol';
    font-size: 18px;
    padding-bottom: 5px;
    margin: 0;
}

.calculator-page__title-2{
    position: relative;
    left: -15px;
}

.calculator-page__title-3{
    position: relative;
    left: -15px;
}

.calculator-page__title-4{
    position: relative;
    left: -15px;
}

.calculator-page__item-description-border{
    height: 1px;
    width: 40px;
    background: linear-gradient(to right, #fd7f74, #fda56a);
    margin: 10px 0;
    position: relative;
    left: 5px;
    animation-duration: 1s;
    animation-name: flicker;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.calculator-page__item-border-2{
    width: 60px;
    left: -5px;
}

.calculator-page__item-border-3{
    width: 74px;
    left: -13px;
}

.calculator-page__item-border-4{
    width: 74px;
    left: -13px;
}

.calculator-page__item-description-value{
    font-family: 'GothaProLig';
}

.calculator-page__table{
    width: 490px;
    height: 244px;
    position: absolute;
    top: 326px;
    left: 990px;
    padding: 0;
    margin: 0;
}

.calculator-page__table-border-top-left{
    float: left;
}

.calculator-page__table-border-top-right{
    float: right;
    transform: rotate(90deg);
}

.calculator-page__table-border-bottom-left{
    float: left;
    transform: rotate(-90deg);
    position: relative;
    top: -10px;
}

.calculator-page__table-border-bottom-right{
    float: right;
    transform: rotate(180deg);
    position: relative;
    top: -10px;
}

.calculator-page__table-row{
    padding: 5px 0 0 0;
    margin: 0;
}

.calculator-page__table-row-title{
     font-size: 18px;
     padding: 0 0 0 14px;
     margin: 0;
     font-family: 'GothaProBol';
     display: inline-block;
}

.calculator-page__table-row-title-first{
    padding-left: 4px;
}

.calculator-page__table-row-value{
    font-size: 18px;
    font-family: 'GothaProLig';
    display: inline-block;
    padding: 0 0 0 17px;
    margin: 0;
}

.calculator-page__table-border{
    animation-duration: 1s;
    animation-name: flicker;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker {
    to{opacity: 1;}
    from{opacity: 0;}
}

.calculator-page__table-row-border-bottom{
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, #fd7f74, #fda56a);
    margin-top: 2px;
    animation-duration: 0.7s;
    animation-name: flicker-bg;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes flicker-bg {
    to{background: #fd7f74;}
    from{background: #fda56a;}
}

.calculator-page__table-row-border-bottom_last{
    display: none;
}

@media (max-width: 1800px){
    .calculator-page__table {
        top: 300px;
        left: 840px;
    }
    .calculator-page  .main-page__form-view {
        padding: 109px 0 0;
    }
    .calculator-page__dynamic-input-panel {
        padding: 66px 0 0;
    }
    .calculator-page__view-panel-info {
        padding-left: 0;
    }
    .calculator-page__table {
         margin-left: 0;
    }
}

@media (max-width: 1720px){
    .calculator-page__table {
        top: 245px;
        left: 630px;
    }
}

@media (max-width: 1500px){
    .calculator-page__table {
       position: static;
        margin-top: 50px;
    }
}