.falling-object, .pulsation {
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate
}

.falling-object {
    position: absolute;
    top: 230px;
    left: 900px;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-name: falling-object;
    -webkit-animation-name: falling-object;
    animation-name: falling-object;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-direction: alternate
}

.lightning, .pulsation {
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite
}

.falling-object-room {
    top: 210px;
    left: 790px;
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -moz-animation-name: falling-object-room;
    -webkit-animation-name: falling-object-room;
    animation-name: falling-object-room
}

.falling-object-reactor {
    top: 210px;
    left: 1275px;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-name: falling-object-room;
    -webkit-animation-name: falling-object-room;
    animation-name: falling-object-room
}

.falling-object__falling-object-room {
    width: auto;
    height: auto
}

@keyframes falling-object {
    from {
        top: -600px
    }
    to {
        top: 230px
    }
}

@keyframes falling-object-room {
    from {
        top: -600px
    }
    to {
        top: 210px
    }
}

.pulsation {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -moz-animation-name: pulsation;
    -webkit-animation-name: pulsation;
    animation-name: pulsation;
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.office.pulsation {
    -moz-animation-name: none;
    -webkit-animation-name: none;
    animation-name: none
}

@keyframes pulsation {
    from {
        width: 100%;
        padding-left: 0
    }
    to {
        width: 90%;
        padding-left: 5%
    }
}

.lightning {
    opacity: 0;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 10px;
    background: #fff;
    animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.lightning__factory-shine, .lightning__graph {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    position: absolute
}

@keyframes lightning-races-right {
    from {
        opacity: 1;
        top: 600px;
        left: 1367px
    }
    to {
        opacity: 1;
        top: 750px;
        left: 1367px
    }
}

.lightning__graph {
    width: 4px;
    height: 4px;
    animation-delay: 2s;
    -moz-animation-direction: initial;
    -webkit-animation-direction: initial;
    animation-direction: initial;
    -moz-animation-duration: 8s;
    -webkit-animation-duration: 8s;
    animation-duration: 8s
}

.lightning__graph-border {
    top: 577px;
    left: 829px;
    -moz-animation-name: graph-border;
    -webkit-animation-name: graph-border;
    animation-name: graph-border
}

.lightning__graph-border_duplicate {
    -moz-animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-delay: 6s
}

@keyframes graph-border {
    0%, 100% {
        opacity: .6;
        top: 577px;
        left: 829px
    }
    33% {
        top: 730px;
        left: 1093px
    }
    50% {
        top: 930px;
        left: 1093px
    }
    83% {
        top: 779px;
        left: 829px
    }
}

.lightning__graph-top-line {
    top: 749px;
    left: 835px;
    width: 1px;
    height: 1px;
    opacity: 0;
    -moz-animation-name: graph-top-line;
    -webkit-animation-name: graph-top-line;
    animation-name: graph-top-line;
    -moz-animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s
}

.lightning__graph-bottom-line, .lightning__laptop-graph-top {
    -moz-animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s
}

@keyframes graph-top-line {
    0% {
        opacity: 0;
        top: 749px;
        left: 835px;
        width: 1px;
        height: 1px
    }
    15% {
        opacity: .7;
        top: 715px;
        left: 889px;
        width: 5px;
        height: 5px
    }
    30% {
        opacity: .9;
        top: 707px;
        left: 924px;
        width: 7px;
        height: 7px
    }
    45% {
        top: 717px;
        left: 947px
    }
    70% {
        top: 780px;
        left: 994px
    }
    85% {
        top: 792px;
        left: 1032px
    }
    100% {
        opacity: .9;
        top: 749px;
        left: 1083px;
        width: 7px;
        height: 7px
    }
}

.lightning__graph-bottom-line {
    position: absolute;
    top: 749px;
    left: 835px;
    width: 1px;
    height: 1px;
    opacity: 0;
    -moz-animation-name: graph-bottom-line;
    -webkit-animation-name: graph-bottom-line;
    animation-name: graph-bottom-line;
    animation-duration: 3.5s
}

@keyframes graph-bottom-line {
    0% {
        opacity: 0;
        top: 749px;
        left: 835px;
        width: 1px;
        height: 1px
    }
    12% {
        opacity: .7;
        top: 738px;
        left: 870px;
        width: 4px;
        height: 4px
    }
    23% {
        opacity: .9;
        top: 779px;
        left: 898px;
        width: 7px;
        height: 7px
    }
    33% {
        top: 785px;
        left: 919px
    }
    44% {
        top: 752px;
        left: 942px
    }
    56% {
        top: 758px;
        left: 961px
    }
    67% {
        top: 795px;
        left: 973px
    }
    79%, 86% {
        top: 816px;
        left: 1016px
    }
    90% {
        top: 815px;
        left: 1042px
    }
    100% {
        opacity: .9;
        top: 846px;
        left: 1068px;
        width: 7px;
        height: 7px
    }
}

.lightning__laptop-graph-top {
    top: 455px;
    left: 1233px;
    opacity: 0;
    -moz-animation-name: laptop-graph-top;
    -webkit-animation-name: laptop-graph-top;
    animation-name: laptop-graph-top;
    animation-duration: 3.5s
}

@keyframes laptop-graph-top {
    0% {
        opacity: .5;
        top: 455px;
        left: 1233px;
        width: 1px;
        height: 1px
    }
    33% {
        top: 446px;
        left: 1243px;
        width: 3px;
        height: 3px
    }
    67% {
        top: 442px;
        left: 1260px
    }
    100% {
        opacity: .7;
        top: 432px;
        left: 1270px;
        width: 5px;
        height: 5px
    }
}

.lightning__laptop-graph-bottom {
    top: 463px;
    left: 1233px;
    opacity: 0;
    -moz-animation-name: laptop-graph-bottom;
    -webkit-animation-name: laptop-graph-bottom;
    animation-name: laptop-graph-bottom;
    -moz-animation-duration: 3.5s;
    -webkit-animation-duration: 3.5s;
    animation-duration: 3.5s
}

@keyframes laptop-graph-bottom {
    0% {
        opacity: .5;
        top: 463px;
        left: 1233px;
        width: 1px;
        height: 1px
    }
    14% {
        top: 455px;
        left: 1241px;
        width: 3px;
        height: 3px
    }
    28% {
        top: 459px;
        left: 1245px
    }
    40% {
        top: 449px;
        left: 1250px
    }
    63% {
        top: 454px;
        left: 1260px
    }
    87% {
        top: 437px;
        left: 1270px
    }
    100% {
        opacity: .7;
        top: 432px;
        left: 1270px;
        width: 5px;
        height: 5px
    }
}

.lightning-shine {
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    width: auto;
    height: auto;
    position: absolute
}

.lightning__reactor-shine {
    top: 210px;
    left: 1275px;
    opacity: 0;
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -moz-animation-name: reactor-shine;
    -webkit-animation-name: reactor-shine;
    animation-name: reactor-shine;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.lightning__factory-shine {
    top: 210px;
    left: 790px;
    opacity: 0;
    animation-delay: 2s;
    -moz-animation-name: factory-shine;
    -webkit-animation-name: factory-shine;
    animation-name: factory-shine;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.lightning__factory-shine-pipes {
    position: absolute;
    top: 210px;
    left: 790px;
    opacity: 0;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -moz-animation-name: factory-shine-pipes;
    -webkit-animation-name: factory-shine-pipes;
    animation-name: factory-shine-pipes;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@keyframes factory-shine-pipes {
    0% {
        opacity: 0
    }
    80% {
        opacity: .08
    }
    100% {
        opacity: .25
    }
}

@keyframes factory-shine {
    from {
        opacity: 0
    }
    to {
        opacity: .6
    }
}

@keyframes reactor-shine {
    from {
        opacity: 0
    }
    to {
        opacity: .95
    }
}