* {
    margin: 0;
    padding: 0;
}

/* отмена авто подчеркивания */
a,a:hover,a:visited,a:link{
    text-decoration: none;
}

/* xl */
.main-page{
    padding: 57px 0 200px 170px;
    color: #fbf2f8;
    background: url("../images/main-bg.jpg") no-repeat;
    background-size: cover;
}

.main-page__content{
    display: inline-block;
}

.main-page__form-view{
    padding: 108px 0 0 69px;
}

.main-page__logo,
.main-page__logo img{
    max-width: 100%;
    max-height: 100%;
}

.main-page__logo_red-logo{
    height: 90px;
    width: 105px;
}

.main-page__form-view-head{
    padding: 0 0 40px 0;
    font-size: 60px;
    line-height: 1.25;
    margin: 0;
    font-family: 'GothaProBol';
    color: #ffffff;
}

.main-page__form-view-text{
    padding: 0 0 15px 0;
    font-size: 18px;
    line-height: 1.25;
    font-family: 'BlenderPro-Book';
}

.main-page__form-view-text-bold{
    font-family: 'BlenderPro-Bold';
}

.main-page__form-view-button{
    background: linear-gradient(to left, #a05fe0, #7337e6);
    margin: 86px 0 0 22px;
    padding: 21px 59px;
    letter-spacing: 1.5px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'GothaProLig';
    color: #ffffff;
    transition: color 1s;
}

.main-page__form-view-button:hover{
    cursor: pointer;
    color: #1b92c4;
    transition: color 1s;
}

.main-page__header{
    float: right;
    text-align: right;
    padding: 146px 37px 0 0;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

.main-page__header-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    padding: 20px 0;
    z-index: 10;
}

.main-page__header-item{
    font-size: 12px;
    padding: 0;
    font-family: 'Arame';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffe1f4;
    display: block;
    z-index: 10;
    transition: color 1s;
}

.main-page__header-item:hover{
    transition: color 1s;
}

.main-page__header-background{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    z-index: 10;
}

.main-page__header-background-img{
    height: 570px;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.modal-registration.modal.fade{
    padding-top: 10%;
}

.modal-registration .modal-dialog{
    background: #27283d;
    color: #fff;
    width: 730px;
    max-width: 730px;
}

.modal-registration .modal-content{
    background: transparent;
    padding-left: 67px;
    padding-right: 25px;
}

.modal-registration .modal-header{
    border: none;
    padding: 23px 0 0 0;
    margin: 0;
}

.modal-registration .modal-title{
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'GothaProBol';
    padding-top: 27px;
    padding-bottom: 40px;
}

.modal-registration .close{
    color: #fff;
    font-size: 36px;
    font-family: 'GothaProLig';
}

.modal-registration .modal-body{
    padding: 0 40px 0 0;
    margin: 0;
}

.modal-registration-input{
    font-size: 12px;
    padding: 10px 0 10px 20px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border: 1px solid #a05de6;
    background: transparent;
    width: 100%;
    font-family: 'GothaProLig';
    color: #fff;
}

.modal-registration-input::placeholder{
    color: #fff;
}

.modal-registration .modal-footer{
    border: none;
    justify-content: center;
    flex-direction: column;
    padding: 35px 0 65px 0;
    margin: 0;
}

.modal-registration__modal-button-registration{
    color: #fff;
    font-size: 15px;
    background: linear-gradient(to left, #a05fe0, #7337e6);
    letter-spacing: 1px;
    margin-bottom: 12px;
    padding: 15px 42px;
}

.modal-registration__modal-button-registration:hover{
    cursor: pointer;
    color: #1b92c4;
}

.modal-registration__modal-button-enter{
    color: #fbf2f8;
    font-size: 12px;
    background: transparent;
    letter-spacing: 1px;
    border: none;
    text-decoration:underline
}

.top-header{
    position: absolute;
    top: 80px;
    right: 145px;;
}

.top-header__top-header-link{
    color: #ffffff;
    font-size: 16px;
    font-family: 'GothaProMed';
    padding-left: 29px;
    transition: all 1s;
}

.main-page__header-button{
    background: transparent;
    border: none;
    outline: none;
    color: #fbf2f8;
    font-size: 16px;
    font-family: 'GothaProLig';
    padding-left: 144px;
    letter-spacing: 1px;
    width: 224px;
    max-width: 224px;
}

.main-page__header-button:hover{
    cursor: pointer;
    color: #0056b3;
    transition: all 1s;
}

.main-page__header-button:visited,
.main-page__header-button:active,
.main-page__header-button:focus{
    outline: none;
}

.about-page {
    padding: 42px 0 200px 217px;
    background: url("../images/partners-bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
}

.about-page .main-page__form-view {
    padding: 108px 0 0 10px;
}

.about-page .main-page__form-view-head {
    padding: 0 0 60px 0;
}

.about-page .main-page__header {
    padding: 160px 37px 0 0;
}