@media (max-width: 1919px){
    .falling-object__falling-object-room{
        width: auto;
        height: auto;
    }
    .main-page__animation{
        width: auto;
    }
}

@media (max-width: 1790px){
    .lightning__graph-border,
    .lightning__graph-top-line,
    .lightning__graph-bottom-line{
        display: none;
    }
    .lightning__laptop-graph-top,
    .lightning__laptop-graph-bottom{
        display: none;
    }
    .falling-object__falling-object-room {
        width: 90%;
        height: auto;
    }
    .office.pulsation{
        -moz-animation-name: pulsation ;
        -webkit-animation-name: pulsation ;
        animation-name: pulsation;
    }
    @keyframes pulsation {
        from {
            width: 90%;
        }
        to {
            width: 80%;
        }
    }
    .lightning__factory-shine,
    .lightning__factory-shine-pipes,
    .lightning__reactor-shine{
        display: none;
    }
}

@media (max-width: 1650px){
    .main-page__animation{
        width: 90%;
    }
}

@media (max-width: 1600px){
    .falling-object.falling-object-reactor{
        display: none;
    }

    .falling-object {
        top: 330px;
    }

    @-webkit-keyframes falling-object {
        from {top: -600px;}
        to {top:330px;}
    }

    @-moz-keyframes falling-object {
        from {top: -600px;}
        to {top:330px;}
    }

    @keyframes falling-object {
        from {top: -600px;}
        to {top:330px;}
    }
}

@media (max-width: 1400px){
    .falling-object {
        display: none;
    }
}

/* lg */
@media (max-width: 1200px){
    .main-page, .about-page{
        padding: 30px 0 100px 100px;
        background: #272842;
    }
    .main-page__form-view {
        padding: 50px 0 0 50px;
    }
    .main-page__form-view-head {
        padding: 0 0 30px 0;
        font-size: 48px;
    }
    .main-page__form-view-text {
        padding: 0 0 12px 0;
        max-width: initial;
        font-size: 16px;
    }
    .main-page__form-view-button {
        margin: 50px 0 0 22px;
        padding: 15px 40px;
        letter-spacing: 1px;
        font-size: 16px;
    }
    .main-page__header {
        padding: 85px 35px 0 0;
    }
    .main-page__header-background-img{
        height: 490px;
    }
    .about-page .main-page__header-background-img{
        height: 440px;
    }
    .main-page__header-button {
        padding-left: 60px;
        width: auto;
    }
    .top-header {
        top: 60px;
        right: 50px;
    }
}

/* md */
@media (max-width: 992px){

}

/* sm */
@media (max-width: 768px){
    .main-page__header{
        display: none;
    }
}