* {
    margin: 0;
    padding: 0;
}

/* отмена авто подчеркивания */
a,a:hover,a:visited,a:link{
    text-decoration: none;
}

/* xl */
.main-page{
    padding: 57px 0 200px 170px;
    color: #fbf2f8;
    background: url("../images/main-bg.png") no-repeat;
    background-size: cover;
}

.main-page__content{
    display: inline-block;
}

.main-page__form-view{
    padding: 108px 0 0 69px;
}

.main-page__form-view-head{
    padding: 0 0 40px 0;
    font-size: 60px;
    line-height: 1.25;
    margin: 0;
    font-family: 'GothaProBol';
    color: #ffffff;
}

.main-page__form-view-text{
    padding: 0 0 15px 0;
    max-width: 520px;
    font-size: 18px;
    line-height: 1.25;
    font-family: 'BlenderPro-Book';
}

.main-page__form-view-button{
    background: linear-gradient(to left, #a05fe0, #7337e6);;
    margin: 86px 0 0 22px;
    padding: 21px 59px;
    letter-spacing: 1.5px;
    border: none;
    outline: none;
    border-radius: 5px;
    /*border: 1px solid #a05fe0;*/
    font-size: 18px;
    font-family: 'GothaProLig';
    color: #ffffff;
}

.main-page__form-view-button:hover{
    cursor: pointer;
    color: #1b92c4;
}

.main-page__header{
    float: right;
    text-align: right;
    padding: 146px 37px 0 0;
    display: flex;
    justify-content: flex-end;
}

.main-page__header-links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    padding: 20px 0;
}

.main-page__header-item{
    font-size: 12px;
    padding: 0;
    font-family: 'Arame';
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffe1f4;
    display: block;
}

.main-page__header-background{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.main-page__header-background-img{
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}